.cart {
    width: 250px;
    height: 450px;
    border: 1px solid gray;
    margin: 2px;
    box-shadow: 2px 2px 4px gray;
}

.player-img {
    width: 250px;
}

.cart-btn {
    padding: 8px 12px;
    background-color: blue;
    margin-top: 10px;
    margin-left: 10px;
    color: white;
    cursor: pointer;
}